
$orange: rgb(255, 123, 0);
$light-orange: rgb(255, 187, 0);
$grey: rgb(102, 102, 102);
$black-grey: rgb(68, 68, 68);

$sd-black: 0 0 .5rem $black-grey;

html *{
    font-family: 'Heebo' !important;
}